
/* universal comment */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --color-primary : #333333;
    /* --color-secondary : #0e1f4e; */
}
/* header section */
.header {
    background: url(../images/bannerdisktop.webp);
    width: 100%;
    height: 930px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
/* nav section  */
}
.navbar {
    display: flex;
    justify-content: space-evenly;
} 
.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
    margin-left: 30px;
}
.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 70px;
}
.nav--icons {
    display: flex;
    cursor: pointer;
}
.nav-icon {
    color: #fff;
    line-height: 70px;
}
.fa-brands {
    padding: 10px;
}
.menu-icon {
    display: none;
    font-size: 20px;
    cursor: pointer;
}
.nav-links a:hover {
    color: blueviolet;
}
.fa-brands:hover {
    color: blueviolet;
}
.header-content {
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.header-button {
    padding: 20px;
}
.header-btn {
    padding: 15px 50px;
    border-radius: 40px;
    border: none;
    color: #fff;
    background: #2091F9;
}
.header-btn:hover {
    color: #000;
    background: #fff;
}
@media screen and (max-width:768px) {
    .collapsible__content {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s;
    }
    
    .collapsible--expanded .collapsible__content {
        max-height: 100vh;
        opacity: 1;
    }
    .menu-icon {
        display: block;
        color: #fff;
        line-height: 70px;
     }
     .nav-links {
        flex-direction: column;
        width: 100%;
        top:15%;
        position: absolute;
        text-align: center; 
        background: #2091F9;
     }
     .nav-links li {
        margin-left: 0px;
    }
}

@media screen and (max-width:450px) {
    .header {
        background: url(../images/bannermobil.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .nav-icon {
        display: none;
    }
    .header-heading {
        font-size: 0.58rem;
    }
    .header-paragraph {
        font-size: 0.6rem;
    }
    .header-btn {
        font-size: 0.7rem;
        padding: 10px 20px;
    }

    /* features section */
}
.features-content {
   text-align: center;
   margin-top: 40px;
   letter-spacing: 1px;
   color: #333333;
   
}
.feature--image {
    display: flex;
    justify-content: center;
}
.feature--image img {
    max-width: 100%;
}
.feature-heading {
    font-size: 2.3rem;
    font-weight: 500;
    padding: 7px;
}
@media screen and (max-width:450px) {
    .feature-heading {
        font-size: 1rem;
    }
    .features-paragraph {
        font-size: 0.7rem;
    }
}

/* featues content */
.featues--content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    color: #333333;
}
.feature-data {
    padding: 0px 75px 0px 75px;
}
.feature--heading h3 {
    padding: 10px;
}
.feature--paragraph {
    font-size: 14px;
    letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
    .featues--content {
        display: block;
        text-align: center;
        
    }
    .feature-data {
        padding: 0;
        margin-top: 50px;
    }
}
@media screen and (max-width:450px) {
    .feature--heading h3{
        font-size: 0.78rem;
    }
    .feature--paragraph {
        font-size: 0.7rem;
    }
    .feature-image img {
        width: 30px;
        height: 30px;
    }
}

/* activity section */
.activity-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
    align-items: center;
}
.activity-data h3 {
    margin-bottom: 6px;
}
.activity-data {
    margin-bottom: 40px;
}
.activity-btn {
    color: #fff;
    background: #000;
    cursor: pointer;

}
.activity-btn:hover{
   
    color: #fff;
    background: #2091F9;
}
.activity-image img {
    max-width: 100%;
} 
.activity-heading {
    color: var(--color-primary);
}
.activity-paragraph {
    color: var(--color-primary);
}
@media screen and (max-width: 768px) {
    .activity-content {
        text-align: center;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:450px) {
    .activity-heading {
        font-size: 0.78rem;
    }
    .activity-paragraph {
        font-size: 0.7rem;
    }
}
/* subscribe section */
.subscribe-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    margin-top: 13%;
}
.subscribe-image img {
    max-width: 100%;
    padding: 30px;
}
.subscribe-information {
    color: var(--color-primary);
    padding:30px;
    /* margin-top: 50px; */
}
.subscribe-information p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.subscribe-information h3 {
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #000;
}
.email-form {
    padding: 15px 20px;
    border-radius: 40px;
    border: none;
    background: #eceef0;
    text-align: center;
}
.subscribe-btn {
    text-decoration: none;
}

.subscribe-btn {   
    color: #fff;
    background: #2091F9;
}
.subscribe-btn:hover{
    color: #fff;
    background: #000;
}
@media screen and (max-width:768px) {
    .subscribe-information p {
        font-size: 0.7rem;
    }
    .subscribe-information h3 {
        font-size: 0.9rem; 
    }
    .email {
        display: block;
        text-align: center;
    }
    .email-form {
       
        margin-bottom: 20px;
    }
}
@media screen and (max-width:450px) {
    .email-form 
    {
        padding: 10px 14px;
    }
}

/* partner section */
.partner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6%;
    text-align: center;
}
.partner-content h3 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--color-primary);
}
.partner-content p {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: var(--color-primary);
}
.partner-image {
     margin-bottom: 30px;
     
}
.partner-image img {
    max-width: 60%;
}

@media screen and (max-width: 450px) {
    .partner-content h3 {
        font-size: 0.9rem; 
    }
    .partner-content p {
        font-size: 0.7rem;
    }
    
}

/* testimonial section */
.testimonial-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 15%;
}
.testimonial-content h3 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--color-primary);
}
.testimonial-data p {
    margin-bottom: 10px;
    font-size: 1.2rem;
    padding: 20px;
    color: var(--color-primary);
}
.testimonial-feedback {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    color: var(--color-primary);
}
@media screen and (max-width: 450px) {
    .testimonial-content h3 {
        font-size: 0.9rem; 
    }
    .testimonial-data p {
        font-size: 0.7rem;
    }
    .testimonial-feedback {
        font-size: 0.7rem;
    }
    .testimonial-image img {
        width: 100px;
        height: 50px;
}
}

/* card section */
.card--section {
    background: #252B42;
    margin-top: 6%;
}
.card-heading {
    color: #fff;
    text-align: center;
    padding: 20px 20px 0 20px;
}
.card--heading {
    font-size: 1.9rem;
    font-weight: 500;
}
.card--paragraph {
    margin-bottom: 10px;
    padding: 10px;
}

/* card */
.main-card {
    background: #fff;
    width: 300px;
    height: 500px;
    text-align: center;
    border-radius: 10px;
    margin-top: 4%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0  10px 10px #0d1217;
}
.card-header {
    background: #2091F9;
    text-align: center;
    padding-top: 30px;
    padding: 2rem;
    color: #fff;
   
}
.card-type {
    font-size: 1.6rem;
    font-weight: 500;
}
.card-quote {
    display: block;
    padding: 10px;
}
.card-price {
    font-size: 1.7rem;
}
.card-month {
   color: #252B42;
}
.card--body {
    display:  block;
    padding: 20px;
}
.card-button {
    margin-top: 50px;
}
.all-card {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 30px 30px 30px;
}
.popular-card {
    height: 530px;
    margin-top: 0;
    background: #2091F9;
}
.popular-header {
    background: #2091F9;
}
.popular-body {
    color: #fff;
}
.popular-btn {
    background: #fff;
    color: #000;
    ;
}
.popular-btn:hover {
    background: #000
}

@media screen and (max-width: 768px) {
    .all-card {
        flex-direction: column;
        align-items: center;
    }
   
}
@media screen and (max-width:450px) {
    .main-card {
        width: 100%;
    }
    .card--heading {
        font-size: 0.9rem; 
    }
    .card--paragraph {
        font-size: 0.7rem;
    }
    .card--body {
        font-size: 0.7rem;
    }
    .card-type {
        font-size: 1.1rem; 
    }
    .card-quote {
        font-size: 0.7rem;
    }
    .card-price {
        font-size: 1.1rem;
    }
    .card-month {
        font-size: 0.7rem;
    }
}
/* contact section */
.contact-section {
    text-align: center;
    margin-top: 30px;
}
.contact-header {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--color-primary);
    margin-bottom: 10px;
}
.contact-para {
    font-size: 1.2rem;
    color: var(--color-primary);
}
@media screen and (max-width :450px) {
    .contact-header {
        font-size: 0.9rem; 
    }
    .contact-para {
        font-size: 0.7rem;
        padding: 0 20px;
    }
}

/* contact us */
.contact-us {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 6%;
    width: 100%;
}
.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
    box-shadow: 0 10px 20px #d8d6d6;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 450px;
    margin-bottom: 30px;
}
.input-form {
    height: 40px;
    border-radius: 40px;
    text-align: center;
    border: none;
    background:#eceef0;
    width: 100%;
}
textarea {
    resize: none;
    text-align: center;
    border-radius: 10px;
    
}
.address {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;

}
.location-image img {
    width: 100%;
}
.loc-icon {
    color: #2091F9;
}
.location-icons {
    text-align: center;
}
.form h3 {
    color: var(--color-primary);
}

@media screen and (max-width: 450px) {
    .form {
        height: fit-content;
        width: fit-content;
        margin-bottom: 30px;
        border-radius: 5px;
    } 
    .location-image img {
       padding: 0 30px;
    }
    .form h3 {
    font-size: 0.9rem;
    font-weight: 300;
    }
    .address {
        font-size: 0.7rem;
        display: block;
        line-height: 2;
        padding-left: 40px;
    }
    .img-icon {
        padding: 2px;
        font-size: 12px;
    }
}

/* footer section */
.footer {
    margin-top: 30px;
    background: #252B42;
    color: #fff;
}
.footer-section {
   
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 10%;
}
.footer-list h3 {
    font-size: 1.4rem;
    font-weight: 300;
}
.ul {
    list-style: none;
    line-height: 2;
    margin-top: 20px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
}
.footer-info {
    line-height: 3;
    text-align: left;
    margin-top: 5%;
    font-size: 0.8rem;
    cursor: pointer;
}
.footer-i {
 text-align: center;   
 cursor: pointer;
}
.copyright p{
    font-size: 0.7rem;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    letter-spacing: 2px;
}
.footer--icon {
    letter-spacing: 1px;
}
ul li a:hover {
    color: #0066CC;
}
@media screen and (max-width:450px) {
    .footer-list h3 {
        font-size: 0.8rem;
    }
    .ul li a {
        font-size: 0.53rem;
    }
    .footer-info {
        font-size: 0.6rem;
    }
    .footer-i{
        font-size: 0.6rem;
        text-align: center;
    }
    .copyright p {
        font-size: 0.5rem;
    }

}